


  <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/assets/images/global/logo.svg">
     </a>



      <div class="col-md-3 text-end">
        <a id="{{page.url}}-primary-menu-cta" type="button" class="btn btn-primary" href="{{site.data.links.registration-links.controller.free-flow.href}}">Sign Up</a>
      </div>
      </nav>
  </div>
