


  <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/assets/images/global/logo.svg">
     </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/features/" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="/pricing/" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Enterprise</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Industries</a></li>
        <li><a href="https://www.sortly.com/blog/" class="nav-link px-2 link-dark">Blog</a></li>
        <li><a href="https://help.sortly.com/hc/en-us" class="nav-link px-2 link-dark">Help Center</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a id="{{page.url}}-primary-menu-cta" type="button" class="btn btn-primary" href="{{site.data.links.registration-links.controller.free-flow.href}}">Sign Up</a>

        <a id="{{page.url}}-secondary-menu-cta" type="button" class="btn btn-outline-primary me-2" href="{{site.data.links.registration-links.controller.login.href}}" target="_blank">Login</a>
      </div>
      </nav>
  </div>
