<section class="pt-5">
	<div class="container">
		<table class="table">
			<thead style="background-color:white;" class="thead-dark sticky-top">
			  <tr>
				<th scope="col">&nbsp;</th>
				<th scope="col">FREE</th>
				<th scope="col">ADVANCED</th>
				<th scope="col">ULTRA</th>
				<th scope="col">ENTERPRISE</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<th scope="row">Web access, desktop or laptop</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Smartphone and tablet access</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Integrations (coming soon)</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">API Access</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr style="border-color:white;">
				<th scope="row">&nbsp;</th>
				<td><a href=#">Sign Up</a></td>
				<td><a href=#">Start Free Trial</a></td>
				<td><a href=#">Start Free Trial</a></td>
				<td><a href=#">Talk to Us</a></td>
			  </tr>
			</tbody>
		  </table>
	</div>
</section>