<section class="pt-5">
	<div class="container">
		<table class="table">
			<thead style="background-color:white;" class="thead-dark sticky-top">
			  <tr>
				<th scope="col">&nbsp;</th>
				<th scope="col">FREE</th>
				<th scope="col">ADVANCED</th>
				<th scope="col">ULTRA</th>
				<th scope="col">ENTERPRISE</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<th scope="row">Normal Monthly Price</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Normal Yearly Price</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Is there a discount?</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Discounted Yearly Price</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Discount percentage off vs. monthly</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Discount annual savings vs. monthly</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<th scope="row">Rebill amount after term ends</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>@mdo</td>
			  </tr>
			  
			</tbody>
		  </table>
	</div>
</section>