<div class="row mb-5">
    <div class="col-lg-3">
      <h2 class="py-2 pb-md-3 pb-lg-4">A Big List of Features</h2>
    </div>
    <div class="col-lg-9">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
        <div class="col">
          <div class="card card-body card-hover h-100 border-0">
            <h4>🎉&nbsp; Feature Name</h4>
            <p >Use this feature to do something so that you can get some benefit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>