{% assign content-lookup = site.data.components.features.controller.[include.data] %}
{% assign image-float = site.data.components.features.controller.[include.image-float] %}



        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
            <div class="col-12 col-md-5 order-md-1">
                <h2>{{content-lookup.headline}}</h2>
                <p class="mb-6">
                    {{content-lookup.sub-copy}}
                </p>
        <div class="row">
        <div class="col-12">
            {% for feature-bullet-list in content-lookup.support-copy %}
            <div class="d-flex">
            <p class="feature-bullets">
                <p>{{feature-bullet-list[1].item}}</p>
            </p>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    <div class="col-12 col-md-6 order-md-2 aos-init aos-animate" data-aos="fade-right">
        <img class="img-fluid" src="/assets/images/hero/construction-worker@2x.png" />
    </div>

        </div>
