---
title: Component Gallery
description: This is where we showcase our components.
layout: standard-page
---
<section>
    <div class="container">
        <h1>👋 Welcome to the Component Gallery!</h1>
        <p>Components? Components are snippets of code that we code once to reduce manual copy/paste work. These components are then populated with filtered content (data) from our YAML files.</p>
    </div>
</section>
<section>
    nav here
</section>

<!--
<section class="py-4">
    <div class="container">
        <h2 class="border-bottom">Navigations</h2>
    </div>
    <div class="container py-3">
        <h3>Standard</h3>
        {% include /components/navigations/standard-nav.html %}
    </div>
    <div class="container py-3">
        <h3>Squeeze</h3>
    </div>
</section>
-->

<section class="py-4">
    <div class="container">
        <h2 class="border-bottom">Heroes</h2>
    </div>
    <div class="container py-3">
        <h3>Standard</h3>
        {% include /components/heroes/standard-hero.html data="component-gallery" cluster="component-gallery" %}

    </div>
</section>

<section>
    <div class="container">
        <h2>Features</h2>
    </div>
</section>

<section>
    <div class="container">
        <h2>Pricing</h2>
    </div>
</section>

<section>
    <div class="container">
        <h2>Testimonials</h2>
    </div>
</section>

<section>
    <div class="container">
        <h2>CTAs</h2>
    </div>
</section>

<section>
    <div class="container">
        <h2>FAQs</h2>
    </div>
</section>