---
title: Example
description: Here it is.
layout: standard-page

---
<section>
    <div class="container">
        {% include /components/heroes/standard-hero.html data="automotive" %}
    </div>
</section>

<section class="py-5">
  <div class="container">
      {% include /components/logo-strips/large.html %}
  </div>
</section>

<section class="py-5">
  <div class="container">
    {% include /components/features/features-split.html data="automotive" %}
  </div>
</section>

<section>
{% assign testimonial-lookup = site.data.testimonials.controller[page.solution-key] %}
<h2>{{testimonial-lookup.name}}</h2>
</section>

<section class="py-5">
  <div class="container">
    {% include /components/features/features-split.html data="automotive" %}
  </div>
</section>

<section class="py-5">
  <div class="container">
    {% include /components/features/features-grid.html data="automotive" %}
  </div>
</section>


<section class="py-5">
  <div class="container">
    {% include /components/ctas/standard.html data="automotive" %}
  </div>
</section>


