<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    
    <title>{{page.title}} | Sortly</title>
    <meta name="description" content="{{page.description}}"/>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid">
        {% if site.data.banner.controller.active == true %}
          <div class="row">
            <div class="col-12">
              <div class="promotional-banner py-2 text-center">
                <a href="{{site.data.banner.controller.href}}">{{site.data.banner.controller.text}} &rarr;</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="container pt-5">
          {% include navigations/standard-nav.html %} 
      </div>
	    {{ content }}  
    </div>
      {% include /footers/standard-footer.html %}
  </body>
</html>