<!DOCTYPE html>
<html lang="en">
  <head>
{% include /head/standard.html %}
  </head>
  <body>
    <div class="container-fluid ">
      <div class="container-fluid ">
        {% if site.data.banner.controller.active == true %}
          <div class="row">
            <div class="col-12">
              <div class="promotional-banner py-2 text-center">
                <a href="{{site.data.banner.controller.href}}">{{site.data.banner.controller.text}} &rarr;</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="container pt-5 sticky-top bg-white">
          {% include /components/navigations/standard-nav.html %} 
      </div>
	    {{ content }}  
    </div>
      {% include /components/footers/standard-footer.html %}
      <script src="/assets/js/bootstrap.bundle.js" defer="defer"></script>
  </body>
</html>